.search_help {
    position: absolute;
    z-index: 100;
    background-color: white;
    top: 32px;
    left: 8px;
    width: calc(100% - 16px);
}

.search_help > ul {
    list-style: none;
    padding-left: 0px;
    margin: 0;
}

.search_help li {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.search_filter_button {
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
    background-color: white;
    width: 100%;
}
.remove_margin {
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.search_svg_filter {
    width: 15px;
    height: 15px;
    min-width: max-content;
}

.search_filter_button:hover {
    background-color:aliceblue;
}

/* .search_help > ul:nth-last-child(1) {
    margin-bottom: 5px;
}

.search_help > ul:nth-child(1) {
    margin-top: 5px;
} */


@media screen and (max-width: 650px) {
    .search_help {
        width: 100%;
        left: 0;
    }
}