.loginDiv {
   color: #111;
   padding: 10px 20px;
   max-width: 400px;
   margin: 0px auto;
   border: 1px solid rgba(0, 0, 0, 0.37);
   background-color: aliceblue;
}
.dark {
    font-weight: bold;
}   
.email-div, .password-div {
    margin-top: 20px;
}

.submitDiv {
    display: grid;
    place-items: center;
}