.loginDiv {
   color: #111;
   padding: 10px 20px;
   max-width: 400px;
   margin: 20px auto;
   border: 1px solid rgba(0, 0, 0, 0.37);
   background-color: aliceblue;
}
.dark {
    font-weight: bold;
}   
.email-div, .password-div {
    margin-top: 20px;
}

.submitDiv {
    display: grid;
    place-items: center;
}

@media screen and (max-width: 440px) {
    .loginDiv {
        margin: 20px;
    }
}

.input {
    width: 100%;
    height: 35px;
    border: 1px solid gray;
    outline: none;
    padding: 3px 10px; 
    font-size: 14px !important;
}