.cartItemsContainer {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: rgb(126, 255, 212,0.2) !important;
}

hr {
    margin: 10px 0px !important; 
}
.heading {
    margin-bottom: 0;
}
.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.total-price-div {
    text-align: end;
}
.total-price, .cart-price-heading {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}
.rupeesymbol {
    font-size: 20px;
    font-weight: bold; 
}
.goto-checkout-button {
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
}