.home-page {
    position: relative;
    top: 50px;
    width: 100%;
}


.products-container {
    background-color: rgb(191, 250, 230);
    padding-top: 10px;
    margin: 0 !important;
    padding: 20px 10px !important;
    row-gap: 20px;
}
a {
    text-decoration: none !important; 
}
.loading {
    font-size: 40px;
    font-weight: bold;
    width: max-content !important;
}
.spinner-border {
    display: inline;
}

.CardWrapper:hover {
    transform: scale(1.03);
    transition: 250ms;
}