.products-container {
    background-color: rgb(191, 250, 230);
    margin: 0 !important;
    padding: 15px 10px !important;
    row-gap: 15px;
}
.products-container >* {
    padding-left: 7px !important;
    padding-right: 7px !important;
}

a {
    text-decoration: none !important; 
}
.loading {
    font-size: 40px;
    font-weight: bold;
    width: max-content !important;
}
.spinner-border {
    display: inline;
}

.CardWrapper:hover {
    transform: scale(1.03);
    transition: 250ms;
}