.products-div {
    background-color: rgb(191, 250, 230);
    padding-bottom: 20px;
    position: relative;
    top: 50px;
}
.filter-div {
    min-width: 250px;
    /* background-color: white; */
    margin-top: 20px;
    margin-left: 5px;
    padding: 0px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.category-products {
    margin: 0 !important;
    padding-top: 20px;
    /* padding-left: 10px; */
    padding-right: 10px;
    row-gap: 20px;
    flex-grow: 1;
}

.sort-dropdown {
    padding: 5px;
    border-radius: 10px;
    font-size: 14px;
}
.footer-dummy {
    position: relative;
    top: 50px;
}