.cartItem {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
}
.product-image {
    width: 130px;
    height: 130px;
    padding: 10px;
}
.image-container {
    margin-right: 15px;
}


.title {
    font-size: 18px;
}
.quantity {
    outline: none;
    border: 0;
    padding: 3px 5px;
    border-radius: 6px;
}

.detail-container {
    padding: 15px 15px 0px 15px;
    flex-grow: 1;
}

.DetailContainer p {
    font-size: 15px;
}
.priceContainer {
    padding: 10px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    order: 2;
}
.itemTotalPrice {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
.minus-button, .plus-button {
    width: 30px !important;
    height: 30px !important;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
}  
.minus-button {
    margin-right: 5px;
} 
.plus-button {
    margin-left: 5px;
}
.qty-div {
    display: flex;
    padding: 10px 0;
}
.item-qty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    text-align: center;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
}
.description {
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.deleteItem {
    width: 110px !important;
    
}

@media only screen and (max-width:700px) {
    .cartItem {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
    .image-container  {
        order: 1;
    }
    .detail-container {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}