.register-form {
    padding: 20px 30px;
    max-width: 400px;
    margin: 40px auto;
    background-color: aliceblue;
    border: 1px solid rgba(0, 0, 0, 0.37);
    /* position: relative;
    top: 50%;
    transform: translateY(-50%); */
}
.register-hr {
    margin: 20px 0px !important;
}
input {
    width: 100%;
    height: 35px;
    border: 1px solid gray;
    outline: none;
    padding: 3px 10px; 
    font-size: 14px !important;
}
.form-label  {
    padding: 0 !important;
    font-weight: bold;
    font-size: 15px;
}
.marg {
    margin-top: 20px;
}

.button-container, .gotologinDiv {
    margin-top: 20px;
    display: grid;
    place-items: center;
}
.btn-success {
    width: 150px;
}