.register-form {
    padding: 10px 20px;
    width: 80%;
    margin: auto;
    background-color: aquamarine;
    border-radius: 20px;
    opacity: 0.9;
}
hr {
    margin: 10px 0px !important;
}
input {
    width: 100%;
    height: 32px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    padding: 5px 10px; 
}
.row {
    padding: 0 !important;
}
.address-label {
    margin-bottom: 0 !important;
}
.address {
    row-gap: 10px;
}
.btn {
    width: 150px;
}
.submitDiv {
    margin: auto;
    width: max-content;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.gotologin {
    color: blue !important;
    font-size: 16px;
    margin: auto;
}
.gotologinDiv {
    width: max-content;
    margin: 5px auto;
}