.product-item {
    padding: 20px;
}
.product-title {
    max-height: 45px;
    min-height: 45px;
    font-size: 17px;
    overflow: hidden;
    overflow-y: scroll;
}
.product-title::-webkit-scrollbar, .product-description::-webkit-scrollbar {
    display: none;
} 
.imageDiv, .card-img {
    padding: 5px;
    max-height: 210px;
    min-height: 210px;
}
.product-description {
    font-size: 14px;
    text-align: justify;
    max-height: 90px !important;
    min-height: 90px !important;
    overflow: hidden;
    overflow-y: scroll;
}
.product-category {
    padding :10px 0px 5px 0px;
    margin: 0;
}
.product-rating {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 5px 0px;
}
.star {
    display: flex;
    align-items: center;
}
.addcart-buttondiv {
    display: flex;
    justify-content: center;
 }